<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Kirim" ng-click="createReport.gotoPage('/')">
			<md-icon md-font-set="material-icons">&#xE5C4;</md-icon>
		</md-button>
		<h2><span>Lapor</span></h2>
		<span flex>{{createReport.isSaved}}</span>
		<md-button class="md-icon-button" aria-label="Kirim" ng-click="createReport.send()">
			<md-icon md-font-set="material-icons">send</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Formulir">
			<md-content class="md-padding">
				<form name="createReportForm">
					<!--<md-input-container flex>
						<label>Provinsi</label>
						<md-select ng-model="createReport.province" ng-click="createReport.getProvinces">
							<md-option ng-repeat="province in createReport.provinces" value="{{province.id}}">
								{{province.name}}
							</md-option>
						</md-select>
					</md-input-container>-->
					<md-input-container flex>
						<label>Provinsi</label>
						<input ng-model="createReport.province">
					</md-input-container>
					<md-input-container flex>
						<label>Kota</label>
						<input ng-model="createReport.city">
					</md-input-container>
					<md-input-container flex>
						<label>Kecamatan</label>
						<input ng-model="createReport.kecamatan">
					</md-input-container>
					<md-input-container flex>
						<label>Kelurahan</label>
						<input ng-model="createReport.kelurahan">
					</md-input-container>
					<md-input-container flex>
						<label>Nama</label>
						<input ng-model="createReport.name">
					</md-input-container>
					<md-input-container flex>
						<label>Alamat</label>
						<input ng-model="createReport.address">
					</md-input-container>
					<md-input-container flex>
						<label>Uraian</label>
						<textarea ng-model="createReport.description" columns="1" md-maxlength="250"></textarea>
					</md-input-container>
					<md-subheader class="md-no-sticky">Category Permasalahan</md-subheader>
					<md-list-item ng-repeat="category in createReport.categories">
						<p> {{ category.name }} </p>
						<md-checkbox class="md-secondary" ng-model="category.selected"></md-checkbox>
					</md-list-item>
				</form>
			</md-content>
		</md-tab>
		<md-tab label="Peta">
			<md-content class="md-padding">
				<md-button class="md-raised" ng-click="createReport.openMap()" ng-show="createReport.showButtonMap">Tampilkan Peta</md-button>
				<div style="width:100%;height:400px" id="map_canvasi"></div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>